<div class="container mt-2">
  <div class="row  align-items-center pb-2">
    <div class="col-md-3">
      <label for="client" style="float: right;">Client connecté :</label>
    </div>
    <div class="col-md-3">
      <select *ngIf="clients$ | async as clients" id="client" class="form-select" [(ngModel)]="selectedClientId" name="client"
              (ngModelChange)="goToEncheres()">
        <option value="0">Sélectionner un client : </option>
        <option *ngFor="let client of clients" [value]="client.id">
          {{ client.nom }} {{ client.prenom }}
        </option>
      </select>
    </div>
  </div>
</div>


