<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        @if(isManuelle()){
        <h5 class="modal-title">Saisie du montant de l'offre</h5>
        }

        @if(isAutomatique()){
        <h5 class="modal-title">Saisie du montant maximum</h5>
        }
        <button type="button"
                class="btn-close"
                [disabled]="isSubmitting"
                (click)="annuler()">
        </button>
      </div>

      <div class="modal-body">
        @if(errorMessage()){
          <div class="alert alert-danger" role="alert">
            {{ errorMessage() }}
          </div>
        }
        
        <div class="row">
          <div class="col">
            @if(isManuelle()){
            <label class="form-label" for="montantId">
              Montant
            </label>
            }

            @if(isAutomatique()){
            <label class="form-label" for="montantId">
              Montant maximum
            </label>
            }
          </div>

          <div class="col">
            <input
              id="montantId"
              type="number"
              class="form-control"
              [disabled]="isSubmitting"
              [(ngModel)]="montant">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary"
                [disabled]="isSubmitting"
                (click)="annuler()">
          Annuler
        </button>

        <button class="btn btn-primary"
                [disabled]="isSubmitting"
                (click)="valider()">
          <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Valider
        </button>
      </div>

    </div>
  </div>
</div>

<div class="modal-backdrop fade show"></div>
